<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Celulares</title>
</head>
<body>
{% include "navbar.html" %}
{% block content %}
<div class="card-group">
  <div class="card">
    <img src="{{ cell1.url_img }}" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">{{ cell1.title }}</h5>
      <p class="card-text"><h4>Melhor Preço<br>{{preco1}} <a href="{{url1}}">{{nome1}}</a></h4></p>
  </div>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">{{cell1.pricegb}} <a href="{{cell1.urlgb}}">{{cell1.namegb}}</a></li>
    <li class="list-group-item">{{cell1.pricedx}} <a href="{{cell1.urldx}}">{{cell1.namedx}}</a></li>
    <li class="list-group-item">{{cell1.pricedh}} <a href="{{cell1.urldh}}">{{cell1.namedh}}</a></li>
      <li class="list-group-item">{{cell1.pricebg}} <a href="{{cell1.urlbg}}">{{cell1.namebg}}</a></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Veja mais detalhes</a>
  </div>
  </div>
  <div class="card">
    <img src="{{ cell2.url_img }}" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">{{ cell2.title }}</h5>
      <p class="card-text"><h4>Melhor Preço<br>{{preco2}} <a href="{{url2}}">{{nome2}}</a></h4></p>
  </div>
       <ul class="list-group list-group-flush">
      <li class="list-group-item">{{cell2.pricegb}} <a href="{{cell2.urlgb}}">{{cell2.namegb}}</a></li>
    <li class="list-group-item">{{cell2.pricedx}} <a href="{{cell2.urldx}}">{{cell2.namedx}}</a></li>
    <li class="list-group-item">{{cell2.pricedh}} <a href="{{cell2.urldh}}">{{cell2.namedh}}</a></li>
      <li class="list-group-item">{{cell2.pricebg}} <a href="{{cell2.urlbg}}">{{cell2.namebg}}</a></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Veja mais detalhes</a>
  </div>
  </div>
  <div class="card">
        <img src="{{ cell3.url_img }}" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">{{ cell3.title }}</h5>
      <p class="card-text"><h4>Melhor Preço<br>{{preco3}} <a href="{{url3}}">{{nome3}}</a></h4></p>
  </div>
       <ul class="list-group list-group-flush">
      <li class="list-group-item">{{cell3.pricegb}} <a href="{{cell3.urlgb}}">{{cell3.namegb}}</a></li>
    <li class="list-group-item">{{cell3.pricedx}} <a href="{{cell3.urldx}}">{{cell3.namedx}}</a></li>
    <li class="list-group-item">{{cell3.pricedh}} <a href="{{cell3.urldh}}">{{cell3.namedh}}</a></li>
      <li class="list-group-item">{{cell3.pricebg}} <a href="{{cell3.urlbg}}">{{cell3.namebg}}</a></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Veja mais detalhes</a>
  </div>
</div>
{% endblock %}
</body>
</html>