{% block content %}
{% load static %}


<div class="card d-sm-none d-md-block d-none d-sm-block">
<form method="GET" action="/">
  <div class="card-header">
    <h4><span class="iconworks" data-icon="&#107;"></span><b> Filtros</b></h4>
  </div>
    <div class="card-header">
    <b>Memória RAM</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="ram2" name="ram" value=" 2GB " class="custom-control-input">
  <label class="custom-control-label" for="ram2">2GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram3" name="ram" value=" 3GB " class="custom-control-input">
  <label class="custom-control-label" for="ram3">3GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram4" name="ram" value=" 4GB " class="custom-control-input">
  <label class="custom-control-label" for="ram4">4GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram6" name="ram" value=" 6GB " class="custom-control-input">
  <label class="custom-control-label" for="ram6">6GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram8" name="ram" value=" 8GB " class="custom-control-input">
  <label class="custom-control-label" for="ram8">8GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram10" name="ram" value=" 10GB " class="custom-control-input">
  <label class="custom-control-label" for="ram10">10GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram12" name="ram" value=" 12GB " class="custom-control-input">
  <label class="custom-control-label" for="ram12">12GB RAM</label>
  </div>
    </li>
  </ul>
    <div class="card-header">
    <b>Memória Interna</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom16" name="rom" value=" 16GB " class="custom-control-input">
  <label class="custom-control-label" for="rom16">16GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom32" name="rom" value=" 32GB " class="custom-control-input">
  <label class="custom-control-label" for="rom32">32GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom64" name="rom" value=" 64GB " class="custom-control-input">
  <label class="custom-control-label" for="rom64">64GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom128" name="rom" value=" 128GB " class="custom-control-input">
  <label class="custom-control-label" for="rom128">128GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom256" name="rom" value=" 256GB " class="custom-control-input">
  <label class="custom-control-label" for="rom256">256GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom512" name="rom" value=" 512GB " class="custom-control-input">
  <label class="custom-control-label" for="rom512">512GB ROM</label>
  </div>
    </li>
  </ul>
    <div class="card-header">
    <b>Marcas</b>
  </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="brandxiaomi" name="brand" value="xiaomi" class="custom-control-input">
  <label class="custom-control-label" for="brandxiaomi">Xiaomi</label>
  </div>
    </li>
   <li class="list-group-item">
       <div class="custom-control custom-radio ">
  <input type="radio" id="brandhuawei" name="brand" value="huawei" class="custom-control-input">
  <label class="custom-control-label" for="brandhuawei"  >Huawei</label>
  </div>
   </li>
      <li class="list-group-item">
      <button type="submit" class="btn btn-outline-danger">Aplicar</button>
      </li>
    </ul>
  </form>
</div>

<!-- Menu para celular, Atualize os dois e com id diferentes -->


<div class="dropdown d-block d-sm-none d-none d-sm-block d-md-none">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtros
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <div class="card">
<form method="GET" action="/">
  <div class="card-header">
    <h4><span class="iconworks" data-icon="&#107;"></span><b> Filtros</b></h4>
  </div>
    <div class="card-header">
    <b>Memória RAM</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="ram2cell" name="ram" value=" 2GB " class="custom-control-input">
  <label class="custom-control-label" for="ram2cell">2GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram3cell" name="ram" value=" 3GB " class="custom-control-input">
  <label class="custom-control-label" for="ram3cell">3GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram4cell" name="ram" value=" 4GB " class="custom-control-input">
  <label class="custom-control-label" for="ram4cell">4GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram6cell" name="ram" value=" 6GB " class="custom-control-input">
  <label class="custom-control-label" for="ram6cell">6GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram8cell" name="ram" value=" 8GB " class="custom-control-input">
  <label class="custom-control-label" for="ram8cell">8GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram10cell" name="ram" value=" 10GB " class="custom-control-input">
  <label class="custom-control-label" for="ram10cell">10GB RAM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="ram12cell" name="ram" value=" 12GB " class="custom-control-input">
  <label class="custom-control-label" for="ram12cell">12GB RAM</label>
  </div>
    </li>
  </ul>
    <div class="card-header">
    <b>Memória Interna</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom16cell" name="rom" value=" 16GB " class="custom-control-input">
  <label class="custom-control-label" for="rom16cell">16GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom32cell" name="rom" value=" 32GB " class="custom-control-input">
  <label class="custom-control-label" for="rom32cell">32GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom64cell" name="rom" value=" 64GB " class="custom-control-input">
  <label class="custom-control-label" for="rom64cell">64GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom128cell" name="rom" value=" 128GB " class="custom-control-input">
  <label class="custom-control-label" for="rom128cell">128GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom256cell" name="rom" value=" 256GB " class="custom-control-input">
  <label class="custom-control-label" for="rom256cell">256GB ROM</label>
  </div>
    </li>
    <li class="list-group-item">
      <div class="custom-control custom-radio">
  <input type="radio" id="rom512cell" name="rom" value=" 512GB " class="custom-control-input">
  <label class="custom-control-label" for="rom512cell">512GB ROM</label>
  </div>
    </li>
  </ul>
    <div class="card-header">
    <b>Marcas</b>
  </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="custom-control custom-radio ">
  <input type="radio" id="brandxiaomicell" name="brand" value="xiaomi" class="custom-control-input">
  <label class="custom-control-label" for="brandxiaomicell">Xiaomi</label>
  </div>
    </li>
   <li class="list-group-item">
       <div class="custom-control custom-radio ">
  <input type="radio" id="brandhuaweicell" name="brand" value="huawei" class="custom-control-input">
  <label class="custom-control-label" for="brandhuaweicell"  >Huawei</label>
  </div>
   </li>
      <li class="list-group-item">
      <button type="submit" class="btn btn-outline-danger">Aplicar</button>
      </li>
    </ul>
  </form>
</div>
</div>
</div>



{% endblock %}