{% extends "base.html" %}
{% block title %}Celulares | {{cell.0.brand|capfirst}}{% endblock %}
  {% block content %}
{% load static %}
{% include "navbar.html" %}


<div class="container font-alt">

<div class="row align-items-start">
<div class="col=auto">
    <div class="card text-center border-danger">
        <p><img src="{% static 'svg/xiaomilogo.svg' %}" width="80" height=auto></p>
    </div>
{% include "menubrandmodels_xiaomi.html" %}
</div>

<div class="col align-items-start d-block d-sm-none">


  <div id="carouselExampleFade " class="carousel slide carousel-fade " data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'img/xiaomicell1.jpg' %}" alt="Primeiro Slide" width="50" height=auto>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/xiaomicell2.jpg' %}" alt="Segundo Slide" width="50" height=auto>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/xiaomicell3.jpeg' %}" alt="Terceiro Slide" width="50" height=auto>
    </div>
  </div>
</div>

</div>


    <div class="col row align-items-start">
 {% for cell1 in cell %}
  <div class="col">
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <a href="{% url 'detail' cell1.slug cell1.id %}" class="card-link">
  <img src="{{ cell1.url_img }}" class="card-img rounded mx-auto d-block" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">{{ cell1.title }}</h5>
  </a>
    <p class="card-text"><h5>Melhor Preço<br>$ {{ cell1.best_price }}<br>R$ {{ cell1.best_price_brl }}<br><a href="{{ cell1.best_url }}" data-toggle="tooltip" data-placement="bottom" title="Clique para ir à loja" ><button class="btn btn-light"><img src="{{ cell1.best_name }}" width="90" height=auto> <span class="iconworks" data-icon="&#48;"></span></button></a></h5></p>
  </div>
  <ul class="list-group list-group-flush text-center">
    {% if not cell1.pricegb == 0 or 0.00 %}
      <li class="list-group-item">$ {{cell1.pricegb}} <b>|</b> R$ {{ cell1.pricegb_brl }} <a class="btn btn-light" href="{{cell1.urlgb}}"><img src="{{ cell1.namegb }}" width="100" height=auto><span class="iconworks" data-icon="&#48;"></span></a></li>
    {% endif %}
    {% if not cell1.pricedx == 0 or 0.00 %}
    <li class="list-group-item">$ {{cell1.pricedx}} <b>|</b> R$ {{ cell1.pricedx_brl }} <a class="btn btn-light" href="{{cell1.urldx}}"><img src="{{ cell1.namedx }}" width="80" height=auto><span class="iconworks" data-icon="&#48;"></span></a></li>
    {% endif %}
    {% if not cell1.pricein == 0 or 0.00 %}
    <li class="list-group-item">$ {{cell1.pricein}} <b>|</b> R$ {{ cell1.pricein_brl }} <a class="btn btn-light" href="{{cell1.urlin}}"><img src="{{ cell1.namein }}" width="90" height=auto><span class="iconworks" data-icon="&#48;"></span></a></li>
    {% endif %}
    {% if not cell1.pricebg == 0 or 0.00 %}
      <li class="list-group-item">$ {{cell1.pricebg}} <b>|</b> R$ {{ cell1.pricebg_brl }} <a class="btn btn-light" href="{{cell1.urlbg}}"><img src="{{ cell1.namebg }}" width="70" height=auto><span class="iconworks" data-icon="&#48;"></span></a></li>
    {% endif %}
  </ul>
  
</div>
</div>

  {% empty %}
  {% if ram or rom or brand is not None %}
      <div class="col-sm-auto">
      <h1 class="text-center text-danger"  ><span class="iconworks"  data-icon="&#249;"></span></h1>
      <h4 class="text-center text-danger font-alt" ><b> Não achamos nada com os filtros selecionados. <br> Tavez poderia mudar alguma coisa na pesquisa. </b></h4>
      </div>
  {% else %}
      <div class="col-sm-auto">
      <h1 class="text-center text-danger"  ><span class="iconworks"  data-icon="&#249;"></span></h1>
      <h4 class="text-center text-danger font-alt" ><b> Não achamos nada. <br> Tavez poderia mudar alguma coisa na pesquisa. </b></h4>
      </div>
  {% endif %}

  {% endfor %}
        </div>
{% endblock %}
